# The Dataset From This [Address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv)

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

df = pd.read_csv(url)
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## Ortalama olarak hangi kıta daha fazla bira tüketiyor?

In [3]:
df.groupby("continent").mean().sort_values(by = "beer_servings", ascending = False)["beer_servings"][0]

193.77777777777777

In [4]:
df.groupby(by = "continent")["beer_servings"].mean().sort_values(ascending = False)[0]

193.77777777777777

## Şarap tüketiminin kıtalara göre istatistikleri nedir?

In [5]:
df.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

## Her kıtanın her sütunu için medyan nedir?

In [6]:
df.groupby("continent").median().T

continent                       AF    AS     EU     OC      SA
beer_servings                 32.0  17.5  219.0  52.50  162.50
spirit_servings                3.0  16.0  122.0  37.00  108.50
wine_servings                  2.0   1.0  128.0   8.50   12.00
total_litres_of_pure_alcohol   2.3   1.2   10.0   1.75    6.85

## Spirit_Servings değişkeni için kıtalara göre mean, max ve min nasıl bakarız?

In [7]:
df.groupby("continent")["spirit_servings"].agg(["mean","min","max"]).T

continent          AF          AS          EU        OC      SA
mean        16.339623   60.840909  132.555556   58.4375  114.75
min          0.000000    0.000000    0.000000    0.0000   25.00
max        152.000000  326.000000  373.000000  254.0000  302.00