# The Dataset From This [Address-1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) & [Adres-2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv)

In [1]:
import numpy as np
import pandas as pd

In [2]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

cars1 = pd.read_csv(url1)
cars1 = cars1.dropna(axis = 1)
cars2 = pd.read_csv(url2)

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [4]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

In [6]:
cars = pd.concat([cars1, cars2])
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [7]:
cars.shape

(398, 9)

## Owners değişkeninde eksik değerler mevcut, 15.000 ve 73.00 arasında rasgele sayılar oluşturup nasıl doldurulur?

In [8]:
owners = np.random.randint(low = 15000, high = 73001, size = 398, dtype = "l")
cars["owners"] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,68856
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,69410
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,43927
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,40752
4,17.0,8,302,140,3449,10.5,70,1,ford torino,42954